<form method="post" action="{{ path('delete_orderPaymentFarmer', {'id': orderPaymentFarmer.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
  <input type="hidden" name="_method" value="DELETE">
  <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ orderPaymentFarmer.id) }}">
  <button class="btn">Supprimer</button>
</form>
