{{ form_start(form) }}
      <h4>Faites profiter à tous de votre production!</h4>
      <h3> Formulaire Inscription producteur</h3>
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
