{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}


<form id="contact" action="/contact/mail">
  <div class="form-group">
    <label for="exampleInputEmail1">Adresse Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
    <small id="emailHelp" class="form-text text-muted">Nous ne partagerons jamais vos coordonnées avec qui que ce soit d'autre</small>
  </div>
  <div class="form-group">
    <label for="exampleSelect1">Choisissez</label>
    <select class="form-control" id="exampleSelect1" name="type">
      <option value="Reclamation">Réclamation</option>
      <option value="Information">Information</option>
      <option value="SAV">SAV</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleTextarea1">Objet</label>
    <textarea class="form-control" id="exampleTextarea1" rows="1" name="objet"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleTextarea2">Corps du message</label>
    <textarea class="form-control" id="exampleTextarea2" rows="3" name="body"></textarea>
  </div>
  <button class="btn" type="submit">Envoyez</button>
</form>

{% endblock %}
